In [1]:
# Import the dependencies.
import pandas as pd
from pathlib import Path

In [3]:
file_path = Path("WaterTemp90_22.tsv")
water_temp_dalles = pd.read_csv(file_path, delimiter="\t")

In [4]:
water_temp_dalles

       agency_cd   site_no      datetime tz_cd  116759_00010 116759_00010_cd
0           USGS  14105700  10/1/07 1:00   PDT          17.3               A
1           USGS  14105700  10/1/07 2:00   PDT          17.2               A
2           USGS  14105700  10/1/07 3:00   PDT          17.2               A
3           USGS  14105700  10/1/07 4:00   PDT          17.2               A
4           USGS  14105700  10/1/07 5:00   PDT          17.2               A
...          ...       ...           ...   ...           ...             ...
124875      USGS  14105700  1/1/22 19:00   PST           4.8               P
124876      USGS  14105700  1/1/22 20:00   PST           4.7               P
124877      USGS  14105700  1/1/22 21:00   PST           4.7               P
124878      USGS  14105700  1/1/22 22:00   PST           4.7               P
124879      USGS  14105700  1/1/22 23:00   PST           4.7               P

[124880 rows x 6 columns]

In [5]:
water_temp_dalles.dtypes

agency_cd           object
site_no              int64
datetime            object
tz_cd               object
116759_00010       float64
116759_00010_cd     object
dtype: object